# BASE CONFIG
DEBUG=True
DEBUG_FRONTEND=True
TIME_ZONE=Australia/Perth
ALLOWED_HOST_UAT=
ALLOWED_HOST_PROD=

# Security & Session
SECRET_KEY=
SECURE_ONLY=False
#SECURE_DOMAIN=
#CSRF_HEADER_NAME=
#CSRF_HEADER_CLIENT=
#CSRF_COOKIE_NAME=

# DB
DATABASE_URL=postgresql://db_uat_user:password@172.17.0.1/authorisations_uat

# File storage
LOCAL_MEDIA_STORAGE=True
## set either the `PRIVATE_MEDIA_ROOT` or `AZURE_` account details
PRIVATE_MEDIA_ROOT=/home/[user]/dev/authorisations/private-media
# AZURE_ACCOUNT_NAME=
# AZURE_CONTAINER=
# AZURE_SAS_TOKEN=
