{% load django_vite %}
{% load my_filters %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% vite_react_refresh %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% vite_hmr_client %}
  {% vite_asset 'src/main.tsx' %}
  <title>{% block title %}{% endblock %} : DBCA Authorisations</title>
  {% if json_data is not None %}
  {{ json_data|json_script:'json-data' }}
  {% endif %}
  {% if config is not None %}
  {{ config|b64encode|json_script:'config' }}
  {% endif %}
</head>

<body>
  <div id="root"></div>
</body>

</html>