{% load django_vite %}
{% load static %}
{% load my_filters %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% vite_react_refresh %}
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="{% static 'favicon.svg' %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% vite_hmr_client %}
  {% vite_asset 'src/main.tsx' %}
  <title>DBCA Authorisations</title>
  {% if config is not None %}{{ config|b64encode|json_script:'config' }}{% endif %}
</head>

<body>
  <div id="root"></div>
</body>

</html>